
@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

body { @apply text-2xl text-gray-700 bg-white; }

h1 { @apply text-7xl; }
h2 { @apply text-5xl; }
h3 { @apply text-3xl; }
p  { @apply text-2xl leading-relaxed; }

section { @apply transition-all duration-700; }
